@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Rubik', sans-serif;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
  width: max-content;
}




.group:hover .animate-scroll {
  animation-play-state: paused;
}
