@import "tailwindcss";
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-track {
  display: flex;
  gap: 1.5rem;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.scroll-track:hover {
  animation-play-state: paused;
}


